
    <a style="background-color:#f0ad4e; padding:initial 5px initial 5px" onclick="window.open('/GioHang/','_self')">
        Giỏ hàng <span class="badge zoomhover" id="Cart_Amount">@ViewBag.count</span>
    </a>

