@using Vinabook.Models;

@model List<CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script>
    function CapNhat(Id) {
        debugger;
        var soluong = document.getElementById("SoLuong[" + Id + "]").value;
        $.ajax({
            type: 'POST',
            url: '/GioHang/CapNhat',
            data: { id: Id, sl: soluong },
            success: function (data) {
                $.post(data.Url, function (partial) {
                    alert("Cập nhật xong!!!");
                    $("#GioHang").html(partial);
                    //$.ajax("#Cart_Amount").load;
                    @*@{ int i = 0;}
                    @foreach ( var item in (List<CartItem>)Session["ShoppingCart"]) {
                        i += item.Quality;
                    }*@
                    //alert();
                    //$('#Cart_Amount').html();
                });
            }
        });
        abc();
    }
    function Remove(Id) {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/GioHang/Remove',
            data: { id: Id },
            success: function(data){
                $.post(data.Url, function (partial) {
                    $("#GioHang").html(partial);
                });
            }
        });
        
    }
 
</script>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ Hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              




                <div class="single-sidebar">

                    @Html.Action("DanhMucChuDePartial", "ChuDe")
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                       <div id="GioHang">
                           @{ Html.RenderPartial("Success");}
                       </div>

                        <div class="">


                            @Html.Action("SachGanDayPartial", "Sach")


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

