@using Vinabook.Models;

@model List<CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script>
   
    function CapNhat(Id) {
        debugger;
        var soluong = document.getElementById("SoLuong[" + Id + "]").value;
        $.ajax({
            type: 'POST',
            url: '/GioHang/CapNhat',
            data: { id: Id, sl: soluong },
            success: function (data) {
                $("#Cart_Amount").html(data.sl);    //sl navbar
                $.post(data.Url, function (partial) {
                    debugger;
                    $("#GioHang").html(partial);
                    //AddToCart(-1);
                    $("#TongTien").attr("style", "color:red");
                    setTimeout(function () {
                        $("#TongTien").attr("style", "color:black");
                    }, 600);
                });
            }
        });

    }

    function Remove(Id) {

        debugger;
        $.ajax({
            type: 'POST',
            url: '/GioHang/Remove',
            data: { id: Id },
            success: function (data) {
                $("#Cart_Amount").html(data.sl);    //sl navbar
                $.post(data.Url, function (partial) {
                    debugger;
                    $("#GioHang").html(partial);
                });
            }
        });

    }
    function RemoveNull() {

    }
    function DatHang(KtDangNhap) {
        debugger;
        if (KtDangNhap == 1) {
            window.location.href = "/NguoiDung/Login";
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/GioHang/DatHang',
                data: {},
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#GioHang").html(partial);
                    });
                }
            });
        }
    }
    function DathangSubmit() {
        debugger;
        var ngayGiao = document.getElementById("NgayGiao").value;
        $.ajax({
            type: 'POST',
            url: '/GioHang/DatHangSubmit',
            data: { NgayGiao: ngayGiao },
            success: function (data) {
                $("#success").html(data.success);
                alert(data.success);
                window.location.href = "/Home/Index";
            }
        });
    }
    function BackToCart() {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/GioHang/BackToCart',
            data: {},
            success: function (data) {
                $.post(data.Url, function (partial) {
                    $("#GioHang").html(partial);
                });
            }
        });
    }
</script>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ Hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="single-sidebar">

                    @Html.Action("DanhMucChuDePartial", "ChuDe")
                </div>
            </div>


            <div class="col-md-9">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div id="GioHang">
                            @{ Html.RenderPartial("Success");}
                        </div>

                        <div class="">


                            @Html.Action("SachGanDayPartial", "Sach")


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        pageScroll();
    };
    function pageScroll() {
        window.scrollBy(0, 80); // horizontal and vertical scroll increments
        //scrolldelay = setTimeout('pageScroll()', 10); // scrolls every 100 milliseconds
        scrolldelay = setTimeout(function () {
            pageScroll();
            var scrollPosition = $(window).scrollTop();
            if (scrollPosition > 680)
                stopTimeOut();
        }, 1);  
    }
    function stopTimeOut() {
       // debugger;
        clearTimeout(scrolldelay);
    }
</script>