@using Vinabook.Models;

@model List<CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script>
    function CapNhat(Id) {
        debugger;
        var soluong = document.getElementById("SoLuong[" + Id + "]").value;
        $.ajax({
            type: 'POST',
            url: '/GioHang/CapNhat',
            data: { id: Id, sl: soluong },
            success: function (data) {
                $.post(data.Url, function (partial) {
                    alert("Cập nhật xong!!!");

                    $("#GioHang").html(partial);
                });
            }
        });
        abc();
    }
    function Remove(Id) {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/GioHang/Remove',
            data: { id: Id },
            success: function (data) {
                $.post(data.Url, function (partial) {
                    $("#GioHang").html(partial);
                });
            }
        });

    }
    function DatHang(KtDangNhap) {
        debugger;
        if (KtDangNhap == 1) {
            window.location.href="/NguoiDung/Login";
        }
        else
        {
            $.ajax({
                type: 'POST',
                url: '/GioHang/DatHang',
                data: {},
                success: function (data) {
                    $.post(data.Url, function (partial) {
                        $("#GioHang").html(partial);
                    });
                }
            });
        }
    }
    function DathangSubmit() {
        debugger;
        var ngayGiao = document.getElementById("NgayGiao").value;
        $.ajax({
            type: 'POST',
            url: '/GioHang/DatHangSubmit',
            data: {NgayGiao:ngayGiao},
            success: function (data) {
                $("#success").html(data.success);
                alert(data.success);
                window.location.href = "/Home/Index";
        }
        });
    }
    function BackToCart() {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/GioHang/BackToCart',
            data: {},
            success: function (data) {
                $.post(data.Url, function (partial) {
                    $("#GioHang").html(partial);
                });
            }
        });
    }
</script>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ Hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">





                <div class="single-sidebar">

                    @Html.Action("DanhMucChuDePartial", "ChuDe")
                </div>
            </div>


            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div id="GioHang">
                            @{ Html.RenderPartial("Success");}
                        </div>

                        <div class="">


                            @Html.Action("SachGanDayPartial", "Sach")


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

