
@model List<Vinabook.Models.Sach>

<div class="single-sidebar">
    <h2 class="sidebar-title">Sách cùng chủ đề</h2>
    @foreach (var item in Model)
    {
        string title = "Tên:           " + item.TenSach + "\nNXB:          " + item.NhaXuatBan.TenNXB + "\nChủ đề:     " + item.ChuDe.TenChuDe + "\nNội dung: " + item.MoTa;
        <div class="thubmnail-recent" title="@title" data-toggle="tooltip">
            <img src="~/content/HinhAnhSP/@item.AnhBia" class="recent-thumb" alt="">
            <h2 style="line-height:2em; height:2em;overflow:hidden; margin:0 0 0.5em 0; color:black">
                <a href="@Url.Action("XemChiTiet", new { @masach=item.MaSach })">
                    @item.TenSach
            </a>
        </h2>

        <div style="color:black">
            Giá:<strong>
                <ins class="text-danger active">@string.Format("{0:0,0}", item.GiaBan) VNĐ</ins>
            </strong>
        </div>
    </div>

    }
</div>


