

<div class="single-sidebar">
    <h2 class="sidebar-title">Sách cùng chủ đề</h2>
   
        <div class="thubmnail-recent">
            <img src="~/Content/UserLayout/img/product-thumb-1.jpg" class="recent-thumb" alt="">
            <h2><a href="">TenSach</a></h2>
            <div class="product-sidebar-price">
                <ins>$700.00</ins> <del>$100.00</del>
            </div>
        </div>
    
  
</div>
