@model List<Vinabook.Models.Sach>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="lead" style="color:#008340;border-bottom:1px dashed #15582b">Có Thể Bạn Quan Tâm</h3>
            @Html.Action("CoTheBanQuanTam_Partial", "Home")


            <h3 class="lead" style="color:#008340;border-bottom:1px dashed #15582b">Sách Mới</h3>
            @Html.Action("SachMoi_Partial", "Home")
            
            <h3 class="lead" style="color:#008340;border-bottom:1px dashed #15582b">Sách Bán Chạy</h3>
            @Html.Action("SachbanChay_Partial", "Home")
            
           
        </div>
    </div>
</div>