@{ string ssdt = "";}
@if(Session["TaiKhoan"] != null)
{
    if (Session["TaiKhoan"].ToString().Trim() != "")
    {
        Vinabook.Models.KhachHang khg = Session["TaiKhoan"] as Vinabook.Models.KhachHang;
        ssdt = khg.DienThoai;
    }

}
<div id="All_Dialog" class="" style="padding:20px 30px">
    <div style="color:#008340;font-size:18px">Kiểm tra đơn hàng</div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <div class="row margin-b margin-t">
                <label>Mã đơn hàng</label>
                <input id="maDonHang_Dialog" type="text" placeholder="Mã đơn hàng" />
            </div>

            <div class="row margin-b margin-t">
                <label>Số điện thoại</label>
                <input id="soDienThoai_Dialog" value="@ssdt" type="text" placeholder="Số điện thoại" />
            </div>
            <br />
            <div class="text-center">
                <button onclick="get()" class="btn btn-success "><span class="glyphicon glyphicon-check"></span> Kiểm tra</button>
            </div>
        </div>
        <div class="col-md-5">
            <p class="text-center"><img style="margin:auto;" class="img-responsive  " src="~/Content/HinhAnh/icon_hotline.png" /></p>
            <p><strong>HOTLINE </strong><span><strong style="color:blue">1900-0199</strong></span></p>
            <p>Tổng đài chăm sóc và Hỗ trợ Khách hàng hoạt động từ 7:30 - 20:00 mỗi ngày (riêng Chủ Nhật, ngày lễ đến 17:00)</p>
            
        </div>
    </div>
</div>
