<div class="row">
    <div class="col-md-10 p_l_r">
        <div id="map_canvas" style="width: 600px; height: 440px; margin:auto"></div>
    </div>
    <div class=" col-md-2 p_l_r ">
        <button class="btn btn-default pull-left" onclick="TroVe()">Trở Về</button>
        <br /><br />
        <a href="https://maps.google.com/maps?hl=en&q=205/45B Điện Biên Phủ, Phường 25, Bình Thạnh, Hồ Chí Minh, Việt Nam" target="_blank" class="btn btn-warning pull-left">Chỉ Đường</a>
        <add key="GoogleMapUrl" value="https://maps.google.com/maps?hl={0}&amp;q=to:{1}" />
    </div>
</div>
<style>
    .p_l_r{
        padding:initial 0 initial 0;
    }
</style>