@using Vinabook.Models;
@{ 
    QuanLyBanSachEntities db = new QuanLyBanSachEntities();
    var sum = (from s in db.DonHangs
               select s).Count();
    var sumChuaThanhToan = (from s in db.DonHangs
               where s.DaThanhToan == "Chưa thanh toán"
               select s).Count();
}
<div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="#">
        <i class="glyphicon glyphicon-tasks red"></i>
        <div>Đơn hàng</div>
        <div>@sum</div>
        <span class="notification red">@sumChuaThanhToan chưa giao</span>
    </a>
</div>
